nav{
    background-color: rgba(0, 0, 0, 0.507);
    width: max-content;
    position: fixed;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    bottom: 2rem;
    padding: .5rem .5rem;
    display: flex;
    gap: 1rem;
    border-radius: 1rem;
    backdrop-filter: blur(15px);       
  
}
nav a{
    background: transparent;
    /* background: red; */
    color:var(--color-light);
    font-size:1.5rem;
    border-radius:50%;
    padding: 0.3rem .8rem;
}
nav a:hover{
    background-color:rgb(219 219 219 / 12%);
}
nav a.active{
    background-color: var(--color-bg);
    color: var(--color-light);
}